* {
    padding: 0;
    margin: 0;
    color: blueviolet;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}

.main-body {
    margin: auto;
    background-color: blueviolet;
}

.title {
    font-weight: bolder;
}

.container {
    text-align: center;
    margin-top: 110px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #c8d1d5;
    margin-bottom: 13.5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.input {
    margin-top: 50px;
    gap: 1.8em;
}

label {
    color: black;
    margin-bottom: 0.5em;
    font-weight: 500;
}

input {
    position: relative;
    font-size: 1.1em;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.2em;
    border-radius: 1.5px solid #43405c;
    outline: none;
}

form{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.to-result{
    padding: 2px;
}

input:focus {
    border-color: blueviolet;
}

.equal {
    margin-top: 30px;
}

button {
    color: white;
    background-color: blueviolet;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.converter{
    border-radius: 20px;
}

.row{
    padding: 20px;
}

.col-sm-12 {
    margin-bottom: 20px;
}

.Output{
    margin-top: 20px;
}
